<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Suite"  >
<test thread-count="3" name="Test" >
  


    <classes>
   
  
  <!--  class name="com.facebook.testcase.TC01_FacebookHomePageVerify"/> -->
  <class name="com.facebook.testcase.TC02_ValidationOfStaticCharacterWise"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
